@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 145, 50%, 96%;
    --foreground: 160, 60%, 20%;
    --primary: 150, 70%, 40%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 155, 55%, 60%;
    --secondary-foreground: 160, 60%, 20%;
    --muted: 150, 50%, 85%;
    --muted-foreground: 160, 50%, 35%;
    --border: 150, 40%, 55%;
    --ring: 150, 70%, 40%;
  }

  .dark {
    --background: 160, 40%, 10%;
    --foreground: 155, 75%, 85%;
    --primary: 155, 70%, 45%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 160, 45%, 25%;
    --secondary-foreground: 155, 75%, 85%;
    --muted: 160, 50%, 15%;
    --muted-foreground: 155, 75%, 70%;
    --border: 160, 55%, 25%;
    --ring: 155, 70%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  display: none;
}
